footer {
    margin-bottom: 2rem;

    @media (min-width: $break-tablet) {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .attribution {
        font-size: 1.1rem;
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}